.container{
	width: 1280px;
	margin: 0 auto;
}
.header{
	width: 100%;
	background-color: #445261;
	box-sizing: border-box;
	padding: 50px;
}
.header:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.header-left{
	float: left;
}
.name{
	display: block;
	font-size: 60px;
	color: #ffffff;
	font-family: "Arial";
	margin: 0;

}
.name-list{
	font-size: 20px;
	line-height: 36px;
	color: #ffffff;
	font-family: "Arial";	
	list-style-type: none;
	margin: 10px 0 0 0;
}
.name-img{
	width: 469px;
	height: 214px;
	background-color: #ffffff;
	float: right;
	margin: 0;
}
.about{
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
	padding: 50px;
}
.about-left{
	float: left;
}
.about-title{
	font-size: 30px;
	line-height: 36px;
	color: #445161;
	font-family: "Arial";	
	margin: 0;
}
.about-p{
	width: 665px;
	height: 141px;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	font-family: "Arial";
	margin: 0;
}
.about-video{
	width: 430px;
	height: 245px;
	background-color: #445161;
	float: right;
}

.dignity{
	width: 100%;
	padding: 50px;
	background-color: #f5f5f5;
	box-sizing: border-box;
	clear: both;
}
.dignity:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.dignity-title{
	display: block;
	margin: 0 0 24px 0;
	text-align: center;
	font-size: 30px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	line-height: 1.2;
}
.dignity-list{
	width: 548px;
	margin: 0;
	padding: 0 0 0 46px;
	list-style-type: none;
	float: left;
}
.dignity-list:nth-child(3){
	float: right;
}
.dignity-list-item{
	margin: 0 0 40px 0;
	position: relative;
}
.dignity-list:nth-child(2) > .dignity-list-item:nth-child(3),
.dignity-list:nth-child(3) > .dignity-list-item:nth-child(3){
	margin: 0;
}
.dignity-list-item:before {
	content: "+";
	display: block;
	width: 32px;
	height: 32px;	
	background-color: #445261;
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 32px;
	position: absolute;
	top: 0;
	left: -46px;
}
.scrin{
	width: 100%;
	padding: 50px;
	background-color: #ffffff;
	box-sizing: border-box;
	clear: both;
}
.scrin:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.scrin-title{
	display: block;
	font-size: 30px;
	line-height: 36px;
	color: #445161;
	font-family: "Arial";
	text-align: center;
	margin: 0 0 10px 0;
}
.scrin-left{
	float: left;
}
.scrin-block{
	margin: 0;
	clear: both;
}
.scrin-img{
	width: 200px;
	height: 150px;
	margin: 30px 15px 0 0;
	background-color: #445161;
	float: left;
}
.scrin-caption{
	margin: 30px 0 0 0;
	float: right;
}
.scrin-caption-title{
	font-size: 24px;
	line-height: 30px;
	color: #445161;
	font-family: "Arial";

}
.scrin-caption-p{
	width: 358px;
	height: 96px;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	font-family: "Arial";
	margin: 5px 0 0 0;
}
.scrin-right{
	float: right;
}